
.main{
    width: 500px;
   
    margin-left: 100px;
    margin-top: 100px;
    background-color: rgb(13, 131, 92);
    padding: 30px;
    border: solid rgb(177, 179, 246) 10px;
    border-radius: 20px;
    margin: auto;
    animation-name: up;
    animation-duration: 5s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;


}
@keyframes up{
    0%{
        margin-top: 600px;
       opacity: 0;
    }
    50%{
        margin-top: 600px;
        opacity: 0;
    }
    100%{
        margin-top: 100px;
        opacity: 1;
    }

}
.main hover{
    width:600px;
    background-color: rgb(29, 224, 159);
    transition-duration: 1s;
} 
p{
    text-align: center;
}
button{
    border: 5px lightskyblue solid;
    border-radius: 5px;
    background-color: rgb(81, 201, 161);

}
body{
 background-image: url(https://www.ubuy.co.id/productimg/?image=aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvNjFpMHZFclJCYUwuX0FDX1NMMTAwMV8uanBn.jpg);
    
}
#co{
    color: rgb(183, 216, 245);
    font-size: 30px;
    font-weight: bolder;
}

